<div class="card-statistic" *ngIf="tipo == 'estatistica'">
    <p class="number-card">{{ number }}</p>
    <p class="title-card">{{ title }}</p>
</div>

<div class="card-studant" *ngIf="tipo == 'estudante'">
    <ng-icon name="hugeUserIdVerification" class="icon-user-card"/>
    <p class="text-name">{{ name }}</p>
    <p class="age">{{ age }} anos</p>
    <p class="number-phone">{{ phone }}</p>
    <button class="button-card" *ngIf="profile == 'admin'">Ver mais</button>
    <button class="button-card" *ngIf="profile == 'docente'">Lançar nota</button>
</div>
