.card-statistic {
    height: 159px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9284e8;
    color: #ffff;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.card-statistic:hover {
    scale: 1.05;
    border-radius: 18px;
    transition: 0.3s;
}

.card-statistic:active {
    scale: 0.99;
    border-radius: 18px;
    transition: 0.3s;
}

.number-card {
    font-size: 28px;
}

.title-card {
    font-size: 22px;
}

.card-studant {
    height: 266px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #ffffff;
    color: #9284e8;
    border-radius: 12px;
    padding: 20px 14px;
    gap: 6px;
    transition: 0.8s;
}

/* .card-studant:hover {
    scale: 1.05;
    border-radius: 18px;
    box-shadow: inset 0px 0px 10px #00000093;
    transition: 0.3s;
} */

.card-studant:active {
    scale: 1;
    border-radius: 18px;
    box-shadow: none;
    transition: 0.8s;
}

.icon-user-card {
    font-size: 64px;
}

.text-name {
    font-size: 18px;
    font-weight: 800;
}

.age {
    font-size: 16px;
    color: #cccccc;
}

.number-phone {
    font-size: 18px;
    color: #717079;
}

.button-card {
    height: 34px;
    width: 46%;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.button-card:hover {
    color: #000000;
    border: 2px solid #9284e8;
    border-radius: 8px;
    transition: 0.3s;
}

.button-card:active {
    background-color: #68638a;
    border-radius: 8px;
    transition: none;
}

@media (max-width: 770px) {
    .card-studant {
        width: 26vw;
    }

    .card-statistic {
        width: 20vw;
    }
}

@media (max-width: 600px) {
    .card-studant {
        width: 28vw;
    }
}

@media (max-width: 500px) {
    .card-studant {
        width: 60vw;
    }

    .card-statistic {
        width: 54vw;
    }
}

@media (max-width: 380px) {
    .card-studant {
        width: 60vw;
    }

    .card-statistic {
        width: 54vw;
    }
}