<main class="container-login">
    <form class="box-login">
        <div class="box-title-login">
            <p class="title-login">Login</p>
        </div>
        <div class="box-items">
            <div class="box-input">
                <label for="email">Email</label>
                <input type="text" id="email"/>
            </div>
            <div class="box-input">
                <label for="password">Senha</label>
                <input type="password" id="password"/>
                <span class="text-recover-password">Esqueci a senha</span>
            </div>
            <div class="box-button">
                <button>Entrar</button>
            </div>
        </div>
    </form>
</main>