<div [class]="status" (click)="mudarStatus()">
    <div class="box-menu">
        <p class="title-menu">Menu</p>
        <ng-icon name="hugeMenu01" class="icon-menu"/>
    </div>
    <button class="button-menu start">Início</button>
    <div class="box-register-menu">
        <p class="subtitle-menu">Cadastros</p>
        <button class="button-menu">Cadastrar Aluno</button>
        <button class="button-menu">Cadastrar Docente</button>
        <button class="button-menu">Cadastrar Turma</button>
        <button class="button-menu">Cadastrar Avaliação</button>
    </div>

    <div class="box-register-menu">
        <p class="subtitle-menu">Detalhamento</p>
        <button class="button-menu">Notas do Aluno</button>
        <button class="button-menu">Listagem dos Docentes</button>
    </div>
</div>